@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
}


.notification-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	text-align: center;
}

.notification {
  color: white;
  background-color: rgb(88, 95, 99,0.75);
  padding: 4px;
  border-radius: 4px;
}
.notification.error {
  color: white;
  background-color: rgb(255, 43, 43,0.75);
}
.notification.success {
  color: white;
  background-color: rgb(26, 161, 121,0.75); 
}

.invisible {
  display: none;
  width: 0px;
  height: 0px;
}

